<div class="overflow-x-auto pb-2">
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center mb-6">
            <div class="sm:flex-auto">
                <h1 class="text-base font-semibold leading-6 text-gray-900">Patients</h1>
                <p class="mt-2 text-sm text-gray-700">Liste des patients en cours de suivi.</p>
            </div>
            <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none flex items-center gap-2">
                <a class="block rounded-md bg-amber-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600" href="{{ path('app_order_new') }}">Créer une ordonnance</a>
                <a class="block rounded-md bg-amber-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600" href="{{ path('app_order_index') }}">Voir les ordonnances</a>
            </div>
        </div>

        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead>
                        <tr>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Nom</th>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Date de naissance</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Étape</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Protocole</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Téléphone</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Suivi</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">SMS</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">État</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Numéro d'opération</th>
                            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                                <span class="sr-only">Édition</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white">
                        {% for user in users %}
                            <tr class="even:bg-gray-50">
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3 flex items-center gap-3">
                                    {% set break = false %}
                                    {% for symptomUser in user.symptomUsers %}
                                        {% if not break and symptomUser.symptom.isActive and symptomUser.isArchived is null %}
                                            <span class="w-5 h-5 bg-red-500 rounded-full"></span>
                                            {% set break = true %}
                                        {% endif %}
                                    {% endfor %}
                                    <span class="w-5 h-5 bg-red-500 rounded-full hidden" id="alertUser{{ user.id }}"></span>
                                    {{ user.name }}
                                </td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">02/01/2001</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">J+1</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Basique</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.phone ?? '-' }}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Oui</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Oui</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.isVerified ? 'Actif' : 'Non actif' }}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">001002003</td>
                                <td class="flex items-center justify-between">
                                    {% set break = false %}
                                    {% for symptomUser in user.symptomUsers %}
                                        {% if not break and symptomUser.symptom.isActive and symptomUser.isArchived is null %}
                                            {% if user.phone %}
                                                <a href="tel:{{ user.phone }}" class="text-green-600">
                                                    <i class="fa-solid fa-phone"></i>
                                                </a>
                                            {% endif %}
                                            <a href="{{ path('app_init_teleconsultation', {id: user.id}) }}" class="text-blue-600">
                                                <i class="fa-solid fa-video"></i>
                                            </a>
                                            {% set break = true %}
                                        {% endif %}
                                    {% endfor %}
                                    <a href="{{ path('channel', {id: user.id}) }}" class="text-orange-500">
                                        <i class="fa-regular fa-comment"></i>
                                    </a>
                                    <a href="{{ path('app_sms', {'id': user.id}) }}" class="text-red-600">
                                        <i class="fa-solid fa-comment-sms"></i>
                                    </a>
                                    <a href="{{ path('app_admin_patient', {'id': user.id}) }}" class="text-cyan-600">
                                        <i class="fa-solid fa-receipt"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        const eventSource = new EventSource("{{ mercure(urlForMercure, { subscribe: urlForMercure })|escape('js') }}", {
            withCredentials: true
        });
        eventSource.onmessage = event => {
            const data = JSON.parse(event.data);
            console.log(data)
            const userBlock = document.getElementById('alertUser' + data.id)
            userBlock.classList.remove('hidden')
        };
    </script>
{% endblock %}
