{% extends 'base_front.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-lg text-gray-900 mb-10 font-bold">Conversation client AI - {{ app.user.name }}</h1>

        <div class="my-5 md:w-1/2 w-full mx-auto border border-gray-300 rounded-md p-5 max-h-[500px] overflow-auto" id="messageBlockOverflow">
            <div class="pr-4 w-full" id="messageBlock">
                {% for message in messages %}
                    {% if app.user == message.author %}
                        <div class="flex gap-3 my-4 text-gray-600 text-sm flex-1">
                            <div class="rounded-full flex shrink-0 items-center justify-center bg-gray-100 border border-gray-300 w-10 h-10">
                                <svg stroke="none" fill="black" stroke-width="0"
                                     viewBox="0 0 16 16" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z">
                                    </path>
                                </svg>
                            </div>
                            <p class="leading-relaxed">
                                <span class="block font-bold text-gray-700">{{ message.author.name }} </span>
                                {{ message.content }}
                            </p>
                        </div>
                    {% else %}
                        <div class="flex gap-3 my-4 text-gray-600 text-sm flex-1">
                            <div class="rounded-full flex shrink-0 items-center justify-center bg-gray-100 border border-gray-300 w-10 h-10">
                                <svg stroke="none" fill="black" stroke-width="1.5" viewBox="0 0 24 24" aria-hidden="true" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z">
                                    </path>
                                </svg>
                            </div>
                            <p class="leading-relaxed">
                                <span class="block font-bold text-gray-700">{{ message.author.name }} </span>
                                {{ message.content }}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="flex items-center pt-0">
                <form id="form" class="flex items-center justify-center w-full space-x-2">
                    <input
                        class="flex h-10 w-full rounded-md border border-[#e5e7eb] px-3 py-2 text-sm placeholder-[#6b7280] focus:outline-none focus:ring-2 focus:ring-[#9ca3af] disabled:cursor-not-allowed disabled:opacity-50 text-[#030712] focus-visible:ring-offset-2"
                        placeholder="Entrez votre message"
                        id="message">
                    <button
                        class="inline-flex items-center justify-center rounded-md text-sm font-medium text-[#f9fafb] disabled:pointer-events-none disabled:opacity-50 bg-black hover:bg-[#111827E6] h-10 px-4 py-2"
                        id="submit">
                        Envoyer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let form = document.getElementById('form');

        const messagesContainerOverflow = document.getElementById('messageBlockOverflow');
        messagesContainerOverflow.scrollTop = messagesContainerOverflow.scrollHeight;

        function handleForm(event) {
            event.preventDefault();
        }
        form.addEventListener('submit', handleForm);

        const submit = document.getElementById('submit');
        submit.onclick = e => {
            const message = document.getElementById('message');
            const data = {
                'content': message.value,
                'channel': "{{ channel.id }}",
            };
            fetch('/message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                message.value = '';
            });
        };

        const eventSource = new EventSource("{{ mercure(urlForMercure, { subscribe: urlForMercure })|escape('js') }}", {
            withCredentials: true
        });
        eventSource.onmessage = event => {
            const data = JSON.parse(event.data);
            const isUserMessage = {{ app.user.id }} === data.author.id;
            const messagesContainer = document.getElementById('messageBlock');

            const messageElement = document.createElement('div');
            messageElement.classList.add('flex', 'gap-3', 'my-4', 'text-gray-600', 'text-sm', 'flex-1');

            if (isUserMessage) {
                messageElement.innerHTML = `
            <div class="rounded-full flex shrink-0 items-center justify-center bg-gray-100 border border-gray-300 w-10 h-10">
                <svg stroke="none" fill="black" stroke-width="0"
                     viewBox="0 0 16 16" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z">
                    </path>
                </svg>
            </div>
            <p class="leading-relaxed">
                <span class="block font-bold text-gray-700">${data.author.name}</span>
                ${data.content}
            </p>
        `;
            } else {
                messageElement.innerHTML = `
            <div class="rounded-full flex shrink-0 items-center justify-center bg-gray-100 border border-gray-300 w-10 h-10">
                <svg stroke="none" fill="black" stroke-width="1.5" viewBox="0 0 24 24" aria-hidden="true" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z">
                    </path>
                </svg>
            </div>
            <p class="leading-relaxed">
                <span class="block font-bold text-gray-700">${data.author.name}</span>
                ${data.content}
            </p>
        `;
            }

            messagesContainer.appendChild(messageElement);
            messagesContainerOverflow.scrollTop = messagesContainerOverflow.scrollHeight;
        };
    </script>
{% endblock %}



